<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>
      {{- shop.name -}}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'favicon' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {% if template.suffix == '_quickshop' %}
      <meta name="format-detection" content="telephone=no">
    {% endif %}

    {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
    {%
      render 'social-meta-tags',
      twitter_handle: settings.twitter_handle
    %}

    {{ content_for_header }}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

    {{ 'theme.css' | asset_url | stylesheet_tag }}
  
<!-- GS-Inventory Start. Do not change -->
{% if template != "index" %}{% if product %}  
  <script class="gsinvProdScript">
    gsInventoryDefaultV = "{{ product.selected_or_first_available_variant.id }}";
    cntImages = 0;
    gsInventoryQty = {};
    gsIncoming = {};    
    gsIncomingDate = {};
    gsInventoryContinue = {};
    gssiproductUrl = "{{ product.handle }}";
    {% for variant in product.variants %} gsInventoryQty[{{variant.id}}] = {% if variant.inventory_management %} {{variant.inventory_quantity}} {% else %} 'na' {% endif %} ; gsIncomingDate[{{variant.id}}] = '{{variant.next_incoming_date}}'; gsInventoryContinue[{{variant.id}}] = '{{variant.inventory_policy}}'; gsIncoming[{{variant.id}}] = {% if variant.incoming %} true {% else %} false {% endif %} ; cntImages++; {% endfor %}    
  </script>
{% endif %}
<script class="gsinvdata">
{% if collection %}
{% assign productsFound = '' %}
  gsCollectionProducts = {};
{% for i in (4..50) %}{% paginate collection.products by i %}{% for product in collection.products %}{% if productsFound contains product.id %}{% else %}
  		gsCollectionProduct = {};{% assign totalQuantity = 0 %}{% for variant in product.variants %} {% if variant.inventory_management %} {% assign totalQuantity = totalQuantity | plus: variant.inventory_quantity %} {% else %} {% if totalQuantity > 0 %} {% else %} {% assign totalQuantity = -666 %} {% endif %} {% endif %} {% endfor %} 
  		gsCollectionProduct['gsInventoryQty'] = {{ totalQuantity }}; 
        gsCollectionProduct['productId'] = '{{ product.id }}';
        gsCollectionProduct['imageCount'] = {{ product.images.size }};
        {% assign hasIncoming = false %}
        {% assign hasInventoryContinue = 'deny' %}
        {% for variant in product.variants %}
        	{% if variant.incoming %} {% assign hasIncoming = true %} {% endif %}
        	{% if variant.inventory_policy contains "continue" %} {% assign hasInventoryContinue = variant.inventory_policy %} {% endif %}
        {% endfor %}
        gsCollectionProduct['gsIncoming'] = {% if hasIncoming %} true{% else %} false{% endif %};    
   		gsCollectionProduct['gsInventoryContinue'] = "{{ hasInventoryContinue }}";    
  		gsCollectionProducts['{{ product.handle }}'] = gsCollectionProduct;
{% assign productsFound = productsFound | append: product.id | append: " " %}{% endif %}{% endfor %}{% endpaginate %}{% endfor %}  
{%- elsif search.results -%}
gsCollectionProducts = {};
{%- assign productsFound = '' -%}
{%- assign paginationLoop = (4..50) -%}

    {%- for i in paginationLoop -%}
    {%- paginate search.results by i -%}
        {%- for product in search.results -%}

        {%- if product.object_type != 'product' -%}
            {%- continue -%}
        {%- endif -%}

        {%- if productsFound contains product.id -%}{%- else -%}

            gsCollectionProduct = {};
            {%- assign totalQuantity = 0 -%}
            {%- for variant in product.variants -%}
                {%- if variant.inventory_management -%}
                    {%- assign totalQuantity = totalQuantity | plus: variant.inventory_quantity -%}
                    {%- else -%}
                    {%- if totalQuantity > 0 -%}
                    {%- else -%}
                        {%- assign totalQuantity = -666 -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            gsCollectionProduct['gsInventoryQty'] = {{ totalQuantity }};
            gsCollectionProduct['productId'] = '{{ product.id }}';
            gsCollectionProduct['imageCount'] = {{ product.images.size }};

            {%- assign hasIncoming = false -%}
            {%- assign hasInventoryContinue = 'deny' -%}

            {%- for variant in product.variants -%}
                {%- if variant.incoming -%} {%- assign hasIncoming = true -%} {%- endif -%}
                {%- if variant.inventory_policy contains "continue" -%} {%- assign hasInventoryContinue = variant.inventory_policy -%} {%- endif -%}
            {%- endfor -%}

            gsCollectionProduct['gsIncoming'] = {%- if hasIncoming -%} true{%- else -%} false{%- endif -%};
            gsCollectionProduct['gsInventoryContinue'] = "{{ hasInventoryContinue }}";
            gsCollectionProducts['{{ product.handle }}'] = gsCollectionProduct;
            {%- assign productsFound = productsFound | append: product.id | append: " " -%}

        {%- endif -%}

        {%- endfor -%}
    {%- endpaginate -%}
    {%- endfor -%}
{% endif %}                             
  </script>

{% if template != "index" %}<script async type="text/javascript" src="https://gravity-apps.com/showinventory/js/shopify/gsinventory7718.js?v=d0e04fc0fc3644276f5b23820df18a45"></script>{% endif %}{% endif %}
<!-- GS-Inventory End. Do not change  --></head>

  <body class="template-{{ template | split: '.' | first }}">
    <main class="site-main" aria-label="main content" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% comment %}Inject modal begin{% endcomment %}
    <div class="modal" data-modal-container aria-label="modal window" data-trap-focus>
      <div class="modal-inner" data-modal-inner>
        <button
          class="modal-close"
          type="button"
          aria-label="{{ 'general.accessibility.close' | t }}"
          data-modal-close
        >
          {% render 'icon-menu-close' %}
        </button>
        <div class="modal-content" data-modal-content></div>
      </div>
    </div>
    
    <div class="modal-1" data-modal-container-1 aria-label="modal window">
      <div class="modal-inner" data-modal-inner>
        <button
          class="modal-close"
          type="button"
          aria-label="{{ 'general.accessibility.close' | t }}"
          data-modal-1-close
        >
          {% render 'icon-menu-close' %}
        </button>
        <div class="modal-content" data-modal-content></div>
      </div>
    </div>
    {% comment %}Inject modal end{% endcomment %}


    <script
      src="{{ 'vendors-main.bundle.js' | asset_url }}"
    >
    </script>

    <script
      src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-pxu-polyfills="{{ 'polyfills.js' | asset_url }}"
    >
    </script>
  </body>
</html>