<article class="site-page" data-template-page data-template-contact>

  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>
  <style>
    @media only screen and (max-width: 600px) {
    .ham{
        display: flex;
    flex-wrap: nowrap;
    flex-direction: column !important;
} 
}
    .ham{
        display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
    } 
  </style>
  <div class="ham"> 
<!--   edited   -->
    <div style="margin-top: 7%;width: 100%;margin-left: 4%;">
    Please give us a call or fill out our online enquiry form and we will be happy to chat with you. No pressure

    <h3>IS Apparel Pty Ltd - Apparel Experts</h3>
    
    <p><b>A:</b> Unit 1, 86 keys Road, Moorabbin Victoria 3189<br><br>
      <b>PH:</b> 1300 497686  <br><br><b>MOB:</b> 0401 380190<br><br>
      <b>E:</b> <a target="_blank" href="mailto:info@isapparel.com.au">info@isapparel.com.au </a></p>
  </div> 
  
    <div style="width:100%">
  {% form 'contact' %}

    {% if page.content != blank %}
      <div class="page-content rte">
        {{ page.content }}
      </div>
    {% endif %}
  
     <div style="margin-right:5% !important;" class="contact-page-content">
      {% assign has_message = false %}

      {% if form.errors != blank %}
        {% assign has_message = true %}
        {% assign message_type = 'error' %}
      {% endif %}

      {% if form.posted_successfully? %}
        {% assign has_message = true %}
        {% assign message_type = 'success' %}
      {% endif %}

      {% if has_message %}
        <div class="contact-message message--{{ message_type }}">
          {% case message_type %}
            {% when 'success' %}
              <p>
                {{ 'contact.form.post_success' | t }}
              </p>
            {% when 'error' %}
              {{ form.errors | default_errors }}
          {% endcase %}
        </div>
      {% endif %}

      <div class="form-fields-columns">
        <div class="form-field form-field--half">
          {% assign value = '' %}
          {%- if form.name -%}
            {% assign value = form.name %}
          {%- elsif customer -%}
            {% assign value = customer.name %}
          {%- endif -%}

          <input
            class="form-field-input form-field-text {% if form.errors contains 'name' %}form-field-error{% endif %}"
            id="contact_name"
            name="contact[name]"
            type="text"
            value="{{ value }}">

          <label class="form-field-title" for="contact_name">
            {{ 'contact.form.name' | t }}
          </label>
        </div>

        <div class="form-field form-field--half">
          {% assign value = '' %}
          {%- if form.email -%}
            {% assign value = form.email %}
          {%- elsif customer -%}
            {% assign value = customer.email %}
          {%- endif -%}
          <input
            class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
            id="contact_email"
            name="contact[email]"
            type="text"
            value="{{ value }}"
            autocorrect="off"
            autocapitalize="off">

          <label class="form-field-title" for="contact_email">
            {{ 'contact.form.email' | t }}
          </label>
        </div>
      </div>

      <div class="form-field">
        {% assign value = '' %}
        {%- if form.phone -%}
          {% assign value = form.phone %}
        {%- elsif customer -%}
          {% assign value = customer.phone %}
        {%- endif -%}

        <input
          class="form-field-input form-field-text {% if form.errors contains 'phone' %}form-field-error{% endif %}"
          id="contact_phone"
          name="contact[phone]"
          type="tel"
          value="{{ value }}">

        <label class="form-field-title" for="contact_phone">
          {{ 'contact.form.phone' | t }}
        </label>
      </div>

<!--   subject added      -->
      
      <div class="form-field">
        {% assign value = '' %}
        {%- if form.subject -%}
          {% assign value = form.subject %}
        {%- elsif customer -%}
          {% assign value = customer.subject %}
        {%- endif -%}
      
        <input
          class="form-field-input form-field-text {% if form.errors contains 'subject' %}form-field-error{% endif %}"
          id="contact_subject"
          name="contact[subject]"
          type="text"
          value="{{ value }}">

        <label class="form-field-title" for="contact_subject">
           Subject 
        </label>
        </div>
      
<!--   ended     -->
<!--radio button        -->

      
        
<!--         
        	<label for="contact_enquiry">Enquire About</label>
        <br>
  <input  class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}" type="radio" name="Enquiry"  value="{{ value }}" id="Sports"><label for="Sports">Sports</label><br>
  <input  class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}" type="radio" name="Enquiry"  value="{{ value }}" id="Business"><label for="Business">Business</label><br>
  <input  class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}" type="radio" name="Enquiry"  value="{{ value }}" id="other"><label for="other">other</label><br>
       -->
<!--    radio button    -->
  <style>
   @media only screen and (max-width: 600px) {
  .sradio {
    margin-right:35% !important;
  }
   }
    .sradio {
    margin-right:50% ;
      display: flex;
    
       </style>
       
<p style="font-size:25px;">Enquiry For:</p>
      <div  class="sradio form-field">
        {% assign value = '' %}
        {%- if form.enquiry -%}
          {% assign value = form.enquiry %}
        {%- elsif customer -%}
          {% assign value = customer.enquiry %}
        {%- endif -%}

         <label for="Sport">
           Sport
        </label>
        <input  class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}"
          id="contact_enquiry"
          name="contact[enquiry]"
          type="radio"
          value="Sport">
        <label for="Business">
           Business
        </label>       
        <input class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}"
          id="contact_enquiry"
          name="contact[enquiry]"
          type="radio"
          value="Business">
                <label for="Other">
           Other
        </label>

        <input class="form-field-input form-field-text {% if form.errors contains 'enquiry' %}form-field-error{% endif %}"
          id="contact_enquiry"
          name="contact[enquiry]"
          type="radio"
          value="Other">
        
        </div>
      
      
      
      <div class="form-field">
        {% assign value = '' %}
        {%- if form.body -%}
          {% assign value = form.body %}
        {%- endif -%}
        <textarea
          class="form-field-input form-field-textarea {% if form.errors contains 'body' %}form-field-error{% endif %}"
          id="contact_message"
          name="contact[message]">{{ value }}</textarea>

        <label class="form-field-title" for="contact_body">
          {{ 'contact.form.message' | t }}
        </label>
      </div>

      <div class="form-action-row">
        <button class="button-primary contact-form-button" type="submit">
          {{ 'contact.form.send' | t }}
        </button>
      </div>
  </div>
  
  
  
  {% endform %}
    </div>
 
  
 <!--    edited     -->
   <style>
   @media only screen and (max-width: 600px) {
  .jshop {
    
    float:none !important;
	width:90% !important;
    margin-top:0% !important;
  }
}    
   
  </style>
  
       
<!--    end     -->
  </div>
  
</article>
